### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

### Other ###
# output images/files
output/*.png
output/z_scores/*.png
output/*.jpg
output/*.jpeg
*.node
*.edge

# file to create figures/perform analyses for the presentation
# analysis/create_presentation_figures.m
# output/final_render.mat
output/*.xls
output/*.xlsx
!/output/supplemental_figures/*.xls
!/output/supplemental_figures/*.xlsx